/* Colors */
/* The main advantage of defining colors in terms of hue, saturation and lightness (hsl) is that 
it’s often more intuitive than defining a color in terms of the Red, Green and Blue values. 
It’s easy to picture how a less saturated version of a color would look like, for example. */
:root {
  --F_Primary: hsl(4, 83%, 26%);
  --F_Primary_Hover: hsl(4, 83%, 32%);
  --F_Primary_Active: hsl(4, 83%, 38%);
  --F_Primary_Hover_Subtle: rgba(192, 12, 0, 0.12);
  --F_Primary_Variant: hsl(4, 100%, 38%); /* More saturated, vibrant variant */

  --F_Background: hsla(0, 0%, 7%);
  --F_Background_Light: hsla(0, 0%, 7%, .4);
  --F_Background_Alternating: hsl(0, 0%, 5%);
  
  --F_Emphasize: #462B00;
  --F_Emphasize_Hover: #613A00;
  
  --F_Surface_0: hsl(0, 0%, 12%);
  --F_Surface: hsl(0, 0%, 16%);
  --F_Surface_1: hsl(0, 0%, 25%); /* hover */
  --F_Surface_2: hsl(0, 0%, 34%); /* active */
  --F_Surface_3: hsl(0, 0%,50%);
  --F_Surface_4: hsl(0, 0%,70%);

  --F_Tile_Radius: 4px;
  --F_Input_Radius: 6px;

  --F_Font_Color: hsl(0, 0%, 88%);
  --F_Font_Color_Disabled: hsl(0, 0%, 50%);
  --F_Font_Color_Label: hsl(0, 0%, 73%);
  --F_Font_Color_Error: hsl(0, 100%, 48%);
  --F_Font_Color_Success: hsl(120, 100%, 25%);
  --F_Font_Color_Warning: hsl(25, 100%, 40%);
  --F_Font_Color_Link: hsl(201, 100%, 80%);

  --F_Label_Color_Red: #933737;
  --F_Label_Color_Orange: #9e4123;
  --F_Label_Color_Yellow: #825f17;
  --F_Label_Color_Green: #376839;
  --F_Label_Color_Blue: #2a5e92;
  --F_Label_Color_Indigo: #40497b;
  --F_Label_Color_Purple: #563d83;
  --F_Label_Color_Pink: #8b2648;
  --F_Label_Color_Cyan: #146972;
  --F_Label_Color_Teal: #12665e;
  --F_Label_Color_Gray: #555555;

  --F_Timeline_Item_Background_Red: #c64f4f90;
  --F_Timeline_Item_Text_Red: #730303;
  --F_Timeline_Item_Background_Blue: #4f5dc690;
  --F_Timeline_Item_Text_Blue: #083877;
  --F_Timeline_Item_Background_Yellow: #c6b24f90;
  --F_Timeline_Item_Text_Yellow: #585F63;

  --F_Backdrop: rgba(0, 0, 0, .7);
  --F_Backdrop_Light: rgba(0, 0, 0, 0.4);
  --F_Blur: blur(5px);

  --F_Gradient_To_Background: linear-gradient(to bottom, var(--F_Background_Light), var(--F_Background)); 

  --F_Invert: invert(0);

  /* Outlines */
  /* Outlines use box shadows so as to not take up space in the document */
  --F_Outline: inset 0 0 0 1px var(--F_Surface_2);
  --F_Outline_Hover: inset 0 0 0 1px var(--F_Surface_3);
  --F_Outline_Focus: inset 0 0 0 1px var(--F_Surface_4);
  --F_Outline_Primary: inset 0 0 0 1px var(--F_Primary);
  --F_Outline_Primary_Hover: inset 0 0 0 1px var(--F_Primary_Hover);
  --F_Outline_Primary_Variant: inset 0 0 0 1px var(--F_Primary_Variant);
  --F_Outline_Error: inset 0 0 0 1px var(--F_Font_Color_Error);
  --F_Outline_Disabled: inset 0 0 0 1px var(--F_Font_Color_Disabled);
  --F_Outline_Success: inset 0 0 0 1px var(--F_Font_Color_Success);

  --F_Outline_Thick: inset 0 0 0 3px var(--F_Surface_2);
  --F_Outline_Hover_Thick: inset 0 0 0 3px var(--F_Surface_3);
  --F_Outline_Focus_Thick: inset 0 0 0 3px var(--F_Surface_4);
  --F_Outline_Primary_Hover_Thick: inset 0 0 0 3px var(--F_Primary_Hover);
  --F_Outline_Primary_Thick: inset 0 0 0 3px var(--F_Primary);
  --F_Outline_Primary_Variant_Thick: inset 0 0 0 3px var(--F_Primary_Variant);
  --F_Outline_Error_Thick: inset 0 0 0 3px var(--F_Font_Color_Error);
  --F_Outline_Disabled_Thick: inset 0 0 0 3px var(--F_Font_Color_Disabled);
  --F_Outline_Success_Thick: inset 0 0 0 3px var(--F_Font_Color_Success);

  --F_Outline_Outset: 0 0 0 1px var(--F_Surface_2);
  --F_Outline_Outset_Hover: 0 0 0 1px var(--F_Surface_3);
  --F_Outline_Outset_Focus: 0 0 0 1px var(--F_Surface_4);
  --F_Outline_Outset_Primary: 0 0 0 1px var(--F_Primary);
  --F_Outline_Outset_Primary_Hover: 0 0 0 1px var(--F_Primary_Hover);
  --F_Outline_Outset_Primary_Variant: 0 0 0 1px var(--F_Primary_Variant);
  --F_Outline_Outset_Error: 0 0 0 1px var(--F_Font_Color_Error);
  --F_Outline_Outset_Disabled: 0 0 0 1px var(--F_Font_Color_Disabled);
  --F_Outline_Outset_Success: 0 0 0 1px var(--F_Font_Color_Success);

  --F_Outline_Outset_Thick: 0 0 0 3px var(--F_Surface_2);
  --F_Outline_Outset_Hover_Thick: 0 0 0 3px var(--F_Surface_3);
  --F_Outline_Outset_Focus_Thick: 0 0 0 3px var(--F_Surface_4);
  --F_Outline_Outset_Primary_Thick: 0 0 0 3px var(--F_Primary);
  --F_Outline_Outset_Primary_Hover_Thick: 0 0 0 3px var(--F_Primary_Hover);
  --F_Outline_Outset_Primary_Variant_Thick: 0 0 0 3px var(--F_Primary_Variant);
  --F_Outline_Outset_Error_Thick: 0 0 0 3px var(--F_Font_Color_Error);
  --F_Outline_Outset_Disabled_Thick: 0 0 0 3px var(--F_Font_Color_Disabled);
  --F_Outline_Outset_Success_Thick: 0 0 0 3px var(--F_Font_Color_Success);

  --F_Gradient_To_Left: linear-gradient(to left, hsla(0, 0%, 7%, 0) 0%, hsla(0, 0%, 7%,.8) 20%, hsla(0, 0%, 7%,1) 100%);
  --F_Gradient_To_Right:  linear-gradient(to right, hsla(0, 0%, 7%, 0) 0%, hsla(0, 0%, 7%,.8) 20%, hsla(0, 0%, 7%,1) 100%);
  --F_Gradient_To_Bottom:  linear-gradient(to bottom, hsla(0, 0%, 7%, 0) 0%, hsla(0, 0%, 7%,.8) 20%, hsla(0, 0%, 7%,1) 100%);
  --F_Gradient_To_Top:  linear-gradient(to top, hsla(0, 0%, 7%, 0) 0%, hsla(0, 0%, 7%,.8) 20%, hsla(0, 0%, 7%,1) 100%);
}

/* Zoom */
/* Zoom is equivalent to the brower's native zoom 1.0 = 100% */
:root {
  --F_Zoom: 1;
  --F_Zoom_Scale: calc(1 / var(--F_Zoom)); /* Derived property, do not edit*/
}

/* Element proportions */
:root {
  --F_Header_Height: 50px;
  
  --F_Input_Height: 2.25rem;
  --F_Input_Height_Compact: 1.5rem;
  --F_Input_Height_Hero: calc(var(--F_Input_Height) + 1rem);

  --F_Sidebar_Width: 246px;
  --F_Sidebar_Width_Expanded: 246px;
  --F_Sidebar_Icon_Width: 72px;
}

/* Typography */
:root {
  --F_Font_Family: sans-serif;
  --F_Font_Size: 15px;
  --F_Font_Size_Label: 14px;
  --F_Font_Size_Small: 13px;
  --F_Font_Size_Title: 17px;

  --F_Letter_Spacing: .04em;
  --F_Letter_Spacing_Title: .04em;

  --F_Page_Width: 700px;
}

/* Mobile */
@media screen and (max-width: 480px) { 
  :root {
    --F_Font_Size_Page_Header: 40px;
    --F_Font_Size_Title_Section: 28px;
    --F_Font_Size_Title_Large: 24px;
    --F_Font_Size_Header: 18px;
    --F_Font_Size_Article: 18px;
  }
}
/* Tablet */
@media screen and (min-width: 768px) {
  :root {
  }
}
/* Laptop_Small */
@media screen and (min-width: 1024px) {
  :root {
  }
}
/* Laptop_Large */
@media screen and (min-width: 1200px) {
  :root {
  }
}
/* Desktop */
@media screen and (min-width: 1600px) {
  :root {
  }
}
/* Desktop_Large */
@media screen and (min-width: 1920px) {
  :root {
    
  }
}

html, body {
  background: var(--F_Background);
  color: var(--F_Font_Color);
}
* {
  font-family: "Segoe UI", sans-serif;
}

*:focus {
  outline: none;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}
::-webkit-scrollbar-track {
  background: var(--F_Surface_0);
}
::-webkit-scrollbar-thumb {
  background: var(--F_Surface_1);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--F_Surface_2);
}
::-webkit-scrollbar-thumb:active {
  background: var(--F_Surface_2);
}
::-webkit-scrollbar-corner {
  background: var(--F_Background);
}

/* Number Input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 1;
}

/* Selection */
::selection {
	background-color: var(--F_Surface_2);
	color: var(--F_Font_Color);
}
::-moz-selection { /*** Mozilla based browsers ***/
	background-color: var(--F_Surface_2);
	color: var(--F_Font_Color);
}
::-o-selection { /***For Other Browsers ***/
	background-color: var(--F_Surface_2);
	color: var(--F_Font_Color);
}
::-webkit-selection {
	background-color: var(--F_Surface_2);
	color: var(--F_Font_Color);
}

/* CSS Reset for consistent cross-browser styling */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
  font-weight: 400;
}

mark {
  background: none;
  padding: 0;
  color: var(--F_Primary_Variant);
  font-size: inherit;
}

:root {
  --F_Syntax_Selection: rgba(255, 255, 255, 0.35);
  --F_Syntax_Text: #ffffff;
  --F_Syntax_String: #c47a4e;
  --F_Syntax_Number: #f3c74d;
  --F_Syntax_Title: #78a9ff;
  --F_Syntax_Built_In: #f7d038;
  --F_Syntax_Keyword: #d67fb7;
  --F_Syntax_Function: #f65d92;
  --F_Syntax_Params: #6eb7ff;
  --F_Syntax_Comment: #63c381;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: 10px;
  -webkit-text-size-adjust: none;
}

pre code *::selection,
.hljs::selection {
  background: var(--F_Syntax_Selection) !important;
}

.hljs {
  color: var(--F_Syntax_Text);
}

.hljs-string {
  color: var(--F_Syntax_String);
}

.hljs-number {
  color: var(--F_Syntax_Number) !important;
}

.hljs-title {
  color: var(--F_Syntax_Title) !important;
}

.hljs-built_in {
  color: var(--F_Syntax_Built_In) !important;
}

.hljs-keyword {
  color: var(--F_Syntax_Keyword) !important;
}

.hljs-function > .hljs-keyword {
  color: var(--F_Syntax_Function) !important;
  font-style: italic;
}

.hljs-params {
  color: var(--F_Syntax_Params);
}

.hljs-comment {
  color: var(--F_Syntax_Comment);
}

.highlighted-text {
  background-color: yellow;
}

/* number slider and range slider */
.rc-slider {
  position: relative;
  height: 20px;
  width: 100%;
  display: flex;
  margin: 0 8px;
  align-items: center;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-rail {
  position: absolute;
  width: 100%;
  background: var(--F_Background_Alternating);
  height: 20px;
  cursor: grab;
}
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 100%;
  background: var(--F_Surface);
}
.rc-slider-handle {
  position: absolute;
  z-index: 1;
  width: 16px;
  height: 100%;
  cursor: pointer;
  border-radius: var(--F_Tile_Radius);
  cursor: -webkit-grab;
  cursor: grab;
  background: var(--F_Primary_Variant);
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

[data-theme="light"] {
  --F_Primary: hsl(165, 87%, 39%);
  --F_Primary_Hover: hsl(165, 87%, 35%);
  --F_Primary_Variant: hsl(165, 87%, 33%); /* More saturated, vibrant variant */

  --F_Background: hsla(0, 0%, 100%, 1.0);
  --F_Background_Light: hsla(0, 0%, 100%, .4);
  --F_Background_Alternating: hsl(0, 0%, 96%);

  --F_Emphasize: hsl(39, 100%, 94%);
  --F_Emphasize_Hover: hsl(39, 80%, 86%);

  --F_Surface_0: hsl(0, 0%, 88%);
  --F_Surface: hsl(0, 0%, 80%);
  --F_Surface_1: hsl(0, 0%, 75%); /* hover */
  --F_Surface_2: hsl(0, 0%, 66%); /* active */

  --F_Font_Color: hsl(0, 0%, 14%);
  --F_Font_Color_Disabled: hsl(0, 0%, 40%);
  --F_Font_Color_Label: hsl(0, 0%, 32%);
  --F_Font_Color_Error: hsl(0, 90%, 60%);
  --F_Font_Color_Success: hsl(147, 70%, 45%);
  --F_Font_Color_Warning: hsl(25, 100%, 55%);
  --F_Font_Color_Link: hsl(201, 66%, 29%);

  --F_Label_Color_Red: #ba4848;
  --F_Label_Color_Orange: #d4623e;
  --F_Label_Color_Yellow: #d99e26;
  --F_Label_Color_Green: #458148;
  --F_Label_Color_Blue: #3576b6;
  --F_Label_Color_Indigo: #6b75b1;
  --F_Label_Color_Purple: #6c4da4;
  --F_Label_Color_Pink: #d25a82;
  --F_Label_Color_Cyan: #19838e;
  --F_Label_Color_Teal: #167f76;
  --F_Label_Color_Gray: #757575;

  --F_Timeline_Item_Background_Red: #c64f4f90;
  --F_Timeline_Item_Text_Red: #730303;
  --F_Timeline_Item_Background_Blue: #4f5dc690;
  --F_Timeline_Item_Text_Blue: #083877;
  --F_Timeline_Item_Background_Yellow: #c6b24f90;
  --F_Timeline_Item_Text_Yellow: #705c02;

  --F_Backdrop: rgba(0, 0, 0, .7);
  --F_Backdrop_Light: rgba(0, 0, 0, 0.4);

  --F_Gradient_To_Background: linear-gradient(to bottom, var(--F_Background_Light), var(--F_Background)); 

  --F_Invert: invert(1);

  /* Outlines */
  /* Outlines use box shadows so as to not take up space in the document */
  --F_Outline: inset 0 0 0 1px hsl(0, 0%, 60%);
  --F_Outline_Hover: inset 0 0 0 1px hsl(0, 0%, 40%);
  --F_Outline_Focus: inset 0 0 0 1px hsl(0, 0%, 20%);
  --F_Outline_Primary: inset 0 0 0 1px var(--F_Primary);
  --F_Outline_Error: inset 0 0 0 1px var(--F_Font_Color_Error);
  --F_Outline_Disabled: inset 0 0 0 1px var(--F_Font_Color_Disabled);
  --F_Outline_Success: inset 0 0 0 1px var(--F_Font_Color_Success);

  --F_Outline_Outset: 0 0 0 1px hsl(0, 0%, 60%);
  --F_Outline_Outset_Hover: 0 0 0 1px hsl(0, 0%, 40%);
  --F_Outline_Outset_Focus: 0 0 0 1px hsl(0, 0%, 20%);
  --F_Outline_Outset_Primary: 0 0 0 1px var(--F_Primary);
  --F_Outline_Outset_Error: 0 0 0 1px var(--F_Font_Color_Error);
  --F_Outline_Outset_Disabled: 0 0 0 1px var(--F_Font_Color_Disabled);
  --F_Outline_Outset_Success: 0 0 0 1px var(--F_Font_Color_Success);

  --F_Gradient_To_Left: linear-gradient(to left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%,.8) 20%, hsla(0, 0%, 100%,1) 100%);
  --F_Gradient_To_Right:  linear-gradient(to right, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%,.8) 20%, hsla(0, 0%, 100%,1) 100%);
  --F_Gradient_To_Bottom:  linear-gradient(to bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%,.8) 20%, hsla(0, 0%, 100%,1) 100%);
  --F_Gradient_To_Top:  linear-gradient(to top, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%,.8) 20%, hsla(0, 0%, 100%,1) 100%);
}